body {
    background-color: salmon;
}

.hero{
    
    width: 100vw;
    height: calc(100vh - 56px);
    background-color: indianred;
    position: relative;
    background: url('../images/solen-feyissa-JHTR-UGUnQ8-unsplash.jpg');
    background-size: cover;
    background position: center;
    background repeat: none;
}

.hero-text {
    color: seashell;
}

    .hero-text h1{
        font-size: 5rem;
        margin-top: -1.3em;
    }
    